*$py.class
*.7z
*.app
*.bak
*.class
*.diff
*.dmg
*.egg
*.egg-info/
*.err
*.gz
*.iso
*.jar
*.log
*.patch
*.py[cod]
*.rar
*.so
*.swp
*.tar
*.tgz
*.vi
*.vim
*.zip
.DS_Store
.Python
.Spotlight-V100
.Trashes
._*
.eggs/
/.idea/
/include/
Desktop.ini
Thumbs.db
__pycache__/
bin/
build/
config.json
dist/
eggs/
env/
lib/
lib64
lib64/
sdist/
var/
venv/
